body{
    background-color: rgb(43, 53, 65);
    color: white;
    height: 97vh;
    max-height: 97vh;
}#options{
    display: flex;
}#description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    flex: 1;
    text-align: center;
    margin: 1em;
}#content{
    display: flex;
    flex-direction: column;
}textarea{ 
    height : 78vh; 
    width: 100%; 
    box-sizing: border-box;
    resize: vertical;
    background-color: rgb(223, 223, 223);
}h1{
    display: flex;
    align-items: center;
    justify-content: center;
}#top{
    position: sticky;
    top: 0;
    background-color: rgb(43, 53, 65);
}