body{
    background-color: rgb(43, 53, 65);
    color: white;
    height: 97vh;
    max-height: 97vh;
}#options{
    display: flex;
}#modes{
    display: flex;
    justify-content: center;
}.mode_select{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    flex: 1;
    text-align: center;
    margin: 1em;
}h1{
    display: flex;
    align-items: center;
    justify-content: center;
}.mode_select:hover{
    cursor: pointer;
    background-color: rgb(75, 86, 95);
    border-radius: 7.5px;
    transition: all 0.5s ease;
}#content{
    display: flex;
    flex-direction: column;
}textarea{ 
    height : 78vh; 
    width: 100%; 
    box-sizing: border-box;
    resize: vertical;
    background-color: rgb(223, 223, 223);
}.mode_selected{
    background-color: rgb(219, 109, 109);
    display: flex;
    border-radius: 7.5px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    flex: 1;
    text-align: center;
    margin: 1em;
}.mode_selected:hover{
    cursor: pointer;
    background-color: rgba(219, 109, 109, 0.7);
    border-radius: 7.5px;
    transition: all 0.5s ease;
}#top{
    position: sticky;
    top: 0;
    background-color: rgb(43, 53, 65);
}