/* ill be writing this tomorrow as well */
html, body {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(19, 20, 36);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1.5%;
  align-items: center;
  max-height: 94vh;
}#stage{
  background-color: rgba(43, 53, 65, 0.829);
  height: 97%;
  width: 97%;
  padding: 1.5%;
  align-items: center;
}#chat_window{
  background-color: rgba(43, 53, 65, 0.829);
  height: 98.2%;
  width: 100%;
  top: 0%;
  left: 0%;
  padding-top: 0.5%;
  align-items: center;
  position: relative;
}#input{
  background-color: rgb(75, 86, 95);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7%;
  margin: 0;
  /* Need to figure out a way to the round the corners how i want them */
  align-items: center;
  display: flex;
  justify-content: space-between;
}#user_input{
  width: 90%;
  height: 100%;
  padding: 0.5%;
  font-size: 1.2em;
  color: white;
  background-color: rgb(75, 86, 95);
  border: none;
}#send_button{
  width: 9%;
  height: 100%;
  background-color: rgb(43, 53, 65);
  color: white;
  right: 0;
  border: none;
  font-size: 1.2em;
  float: right;
  user-select: none;
}#message_window{
  background-color: salmon;
  height: 90%;
  width: 98%;
  margin: 1%;
  padding-top: 0.25%;
  background-color: rgb(75, 86, 95);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
}.query{
  margin: 0.5%;
  padding: 0.5%;
  background-color: rgb(43, 53, 65);
  color: white;
  border-radius: 5px;
  font-size: 1.25em;
  width: fit-content;
  max-width: 60%;
  align-self: flex-end;
}.response{
  margin: 0.5%;
  padding: 0.5%;
  background-color: rgb(43, 53, 65);
  color: white;
  border-radius: 5px;
  font-size: 1.25em;
  width: fit-content;
  max-width: 60%;
  align-self: flex-start;
}.loading{
  margin: 0.5%;
  padding: 0.5%;
  background-color: rgb(43, 53, 65);
  color: white;
  border-radius: 5px;
  font-size: 1.25em;
  width: fit-content;
  max-width: 60%;
  align-self: flex-start;
  animation: loading 1.5s infinite linear;
}@keyframes loading{
  0%{
    opacity: 1;
    font-size: 1.25em;
  
  }
  50%{
    opacity: 0.25;
    font-size: 2.50em;
  }
  100%{
    opacity: 1;
    font-size: 1.25em;
  }
}@Keyframes message{
  0%{
    transform: scale(0);
  }100%{
    transform: scale(1);
  }
}